{% extends "base.html" %}

{% block content %}
  {% if collection.visibility == 'public' or user.profile.is_librarian or user in collection.allowed_users.all %}
    <h1>{{ collection.title }}</h1>
    <p>{{ collection.description }}</p>
    <p>Visibility: {{ collection.get_visibility_display }}</p>

    <h3>Items in Collection:</h3>
    {% for item in collection.items.all %}
      <li>
        <strong>{{ item.name }}</strong> ({{ item.status }})
        <br>
        <small>ID: {{ item.identifier }}</small>
        <br>
        <small>Description: {{ item.description }}</small>
        <br>
        <small>Location: {{ item.location }}</small>
        <br>
      </li>
    {% empty %}
      <p>No items in this collection. Add one!</p>
    {% endfor %}
    {% if user.profile.is_librarian or collection.creator == request.user %}
    <a href="{% url 'core:edit_collection' collection.id %}">Edit This Collection</a>
    {% endif %}
  
  {% else %}
    <h1>{{ collection.title }}</h1>
    <p>This collection is private.</p>
    
    {% if user in collection.access_requests.all %}
      <p>Your request to access this collection is pending approval.</p>
    {% else %}
      <form method="post">
        {% csrf_token %}
        <button type="submit" name="request_access">Request Access</button>
      </form>
    {% endif %}
  {% endif %}
{% endblock %}