<!DOCTYPE html>
<html>
<head>
    <title>Patron Dashboard</title>
</head>
<body>
    <h1>Welcome, {{ profile.user.get_full_name }}! </h1>
    <p>
        Your email: {{ profile.user.email }}
    </p>

    <p>Joined on: {{ profile.joined_date}}</p>

    {% if profile.profile_picture %}
        <img src="{{ profile.profile_picture }}" alt="Profile Picture" width="150">
    {% else %}
        <p>No profile picture uploaded.</p>
    {% endif %}

    <a href="{% url 'core:catalog' %}">Browse Catalog</a>
    <form action="{% url 'core:logout' %}" method="post">
        {% csrf_token %}
        <button type="submit">Logout</button>
    </form>
</body>
</html>